<!--NAVBAR
<nav class="navbar navbar-expand-lg bg-info" style="background-color: gray;">
    <div class="container-fluid">     

        <img src="../../public/img/logo.png" style="padding-left: 15px;">

        <a class="fas fa-home" href="/inicio"> Inicio  </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto"  style="padding-left: 20px; padding-right: 30px;">

                <li class="nav-item" style="padding-left: 50px; padding-right: 3px;">
                </li>

            Publicar
                <li class="nav-item" style="padding-left: 20px; padding-right: 30px;">
                    <a class="fa fa-eye" href="/search"> Publicaciones </a>
                </li>
             Administrar
               
                <li class="nav-item"  style="padding-left: 2px; padding-right: 3px;">
                    <a class="fa fa-user" href="/administrar">Administrar</a>
                </li>

            CREAR
            <li class="nav-item"  style="padding-left: 15px; padding-right: 700px;">
                <a class="fa fa-upload" href="/publicacion">   Crear publicación</a>
            </li>
            </ul>

        </div>
    </div>
</nav>
-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="fa fa-search" href="/search"> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active fa fa-home" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fa fa-user" href="/rechazados">Administrar</a>
          </li>

          <li class="nav-item">
            <a class="nav-link fa fa-upload" href="/publicacion">Crear nueva</a>
          </li>

          <!--
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Navegar
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/rechazados">Rechazados</a></li>
              <li><a class="dropdown-item" href="/validados">Validados</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/about">Sobre el creador</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled fa fa-upload" href="/publicacion" tabindex="-1" aria-disabled="true">Crear nuevo contenido</a>
          </li>

        -->
        </ul>

        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>